
<div class="full-background">
    <div class="card-container">
        <h1 class="color">Batuhan Deniz</h1>
     </div>
     
     <div class="card-container">
         <h1>20 y/o</h1>
     </div>
     
     <div class="card-container">
         <h1>Interested to web development and distributed systems</h1>
     </div>
     
     <div class="card-container">
         <h1>If you want to mail me : {{gmail}}</h1>
     </div>
     
     
     <div class="card-container">
         <ul>
             <button class="size"><a href="https://www.linkedin.com/in/batuhan-deniz-612b98268/" target="_blank">Linkedin</a></button>
             <button class="size"><a href="https://github.com/batuboy31" target="_blank">Github</a></button>
         </ul>
     </div>
     
  </div>